<nav class="navbar navbar-expand navbar-dark bg-info mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Home Managment</a>
    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home
            Page</a>
        </li>
        <li class="">
          <a routerLink="addtodo" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Users
            Section</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
